{
  "openapi": "3.1.0",
  "info": {
    "title": "Paramify REST API Documentation",
    "version": "0.9.0",
    "description": "This is the REST API documentation for the Paramify application."
  },
  "servers": [
    {
      "url": "https://app.paramify.com/api/v0",
      "description": "The production server for the Paramify application."
    }
  ],
  "security": [
    {
      "authorization": [],
      "apiKey_DEPRECATED": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjects",
        "summary": "Get all projects accessible to the api key.",
        "description": "Returns all projects accessible to the api key. These are referred to as `Programs` in the Paramify application.The `id` value of any of the projects listed is referred to as the `projectId` query parameter in other routes or request bodies.",
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectResponseObject"
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "links": {
              "getProjects": {
                "$ref": "#/components/links/getProjects"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjectById",
        "summary": "Get the project specified by the projectId.",
        "description": "Returns the project specified by the `projectId` query parameter and accessible to the api key. A project is called a `Program` in the Paramify application.The `id` value of the project returned can be used as the `projectId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "$ref": "#/components/schemas/projectId"
            },
            "required": true,
            "description": "An id that represents a project within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseObject"
                }
              }
            },
            "links": {
              "getProjectById": {
                "$ref": "#/components/links/getProjectById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/projects/{projectId}/control-implementations": {
      "get": {
        "tags": [
          "Project Control Implementations"
        ],
        "operationId": "getProjectControlImplementations",
        "summary": "Get all control implementations for a project",
        "description": "Retrieves all control implementations associated with the specified project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "$ref": "#/components/schemas/projectId"
            },
            "required": true,
            "description": "An id that represents a project within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "controlImplementations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "A uuid that uniquely identifies an individual element within Paramify",
                            "example": "e3977e3e-0b77-4e78-81de-f90e3e37e43c"
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the control implementation",
                            "example": "AC-1 Part a1"
                          },
                          "control": {
                            "type": "string",
                            "description": "The name of the control",
                            "example": "AC-1"
                          },
                          "requirement": {
                            "type": "string",
                            "description": "The name of the requirement",
                            "example": "Part a1"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "control",
                          "requirement"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "controlImplementations"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssues",
        "summary": "Get issues within a project filterable by query parameters.",
        "description": "Gets all issues within the project specified by the query parameter `projectId`, and optionally filtered by various parameters.\n\n**Basic Filtering:**\n- **Multiple IDs**: Pass several `id` values to retrieve multiple issues at once\n- **POAM IDs**: Pass several `poamId` values to retrieve multiple issues (requires `projectId`)\n\n**Content Filtering:**\n- **`deviationType`**: Retrieve issues containing deviations of the specified type\n- **`title`**: Retrieve issues whose title contains the provided string (case-insensitive)\n- **`kev`**: Retrieve issues containing CVE IDs present in the Known Exploited Vulnerabilities (KEV) catalog\n- **`cveId`**: Retrieve issues containing the specified CVE identifier (OR logic for multiple CVE IDs)\n- **`asset`**: Retrieve issues with at least one of the provided asset names (case-sensitive, exact match)\n- **`internetReachableVulnerability`**: Filter issues by whether they represent an internet-reachable vulnerability (boolean)\n- **`likelyExploitableVulnerability`**: Filter issues by whether they represent a likely-exploitable vulnerability (boolean)\n\n**Date Range Filtering:**\n\nDate ranges are inclusive. You may provide one side of the date range to get an unbounded range. Date format for all filters: YYYY-MM-DD (e.g., \"2024-01-01\")\n- **Effective Date**: Use `effectiveDateStart` and `effectiveDateEnd` (filters the `createdAt` field returned by the API)\n- **Due Date**: Use `dueDateStart` and `dueDateEnd`\n- **Status Date**: Use `statusDateStart` and `statusDateEnd`\n- **Evaluation Date**: Use `evaluationDateStart` and `evaluationDateEnd`",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "$ref": "#/components/schemas/id"
            },
            "description": "An id that represents an issue within the Paramify application. You may pass in several `id` values at once."
          },
          {
            "in": "query",
            "name": "poamId",
            "schema": {
              "$ref": "#/components/schemas/poamId"
            },
            "description": "User defined identifier for this issue. You may pass in several `poamId` values at once. If used, the projectId is required."
          },
          {
            "in": "query",
            "name": "projectId",
            "schema": {
              "description": "An id that represents a project within the Paramify application.",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "description": "An id that represents a project within the Paramify application."
          },
          {
            "in": "query",
            "name": "deviationType",
            "schema": {
              "$ref": "#/components/schemas/deviationType"
            },
            "description": "The type of deviations."
          },
          {
            "in": "query",
            "name": "kev",
            "schema": {
              "description": "Add to filter issues containing CVE IDs from the Known Exploited Vulnerabilities (KEV) catalog or not",
              "type": "boolean"
            },
            "description": "Add to filter issues containing CVE IDs from the Known Exploited Vulnerabilities (KEV) catalog or not"
          },
          {
            "in": "query",
            "name": "effectiveDateStart",
            "schema": {
              "$ref": "#/components/schemas/effectiveDateStart"
            },
            "description": "A date that will be used to filter issues that have an effective date greater than or equal to the date passed in. Date format: YYYY-MM-DD."
          },
          {
            "in": "query",
            "name": "effectiveDateEnd",
            "schema": {
              "$ref": "#/components/schemas/effectiveDateEnd"
            },
            "description": "A date that will be used to filter issues that have an effective date less than or equal to the date passed in. Date format: YYYY-MM-DD."
          },
          {
            "in": "query",
            "name": "statusDateStart",
            "schema": {
              "description": "The start date of the status date range. The status date should be greater than or equal to this date.",
              "example": "2024-01-01",
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "The start date of the status date range. The status date should be greater than or equal to this date."
          },
          {
            "in": "query",
            "name": "statusDateEnd",
            "schema": {
              "description": "The end date of the status date range. The status date should be less than or equal to this date.",
              "example": "2024-01-15",
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "The end date of the status date range. The status date should be less than or equal to this date."
          },
          {
            "in": "query",
            "name": "cveId",
            "schema": {
              "$ref": "#/components/schemas/cveIds"
            },
            "description": "A valid CVE ID. Can be passed multiple times to filter by multiple CVE IDs."
          },
          {
            "in": "query",
            "name": "dueDateStart",
            "schema": {
              "$ref": "#/components/schemas/dueDateStart"
            },
            "description": "The start date of the due date range. The due date should be greater than or equal to this date."
          },
          {
            "in": "query",
            "name": "dueDateEnd",
            "schema": {
              "$ref": "#/components/schemas/dueDateEnd"
            },
            "description": "The end date of the due date range. The due date should be less than or equal to this date."
          },
          {
            "in": "query",
            "name": "title",
            "schema": {
              "$ref": "#/components/schemas/title"
            },
            "description": "A string that represents the title or part of the title of an issue."
          },
          {
            "in": "query",
            "name": "asset",
            "schema": {
              "$ref": "#/components/schemas/asset"
            },
            "description": "A string that represents an asset of an issue."
          },
          {
            "in": "query",
            "name": "internetReachableVulnerability",
            "schema": {
              "description": "Filter issues by whether they represent an internet-reachable vulnerability",
              "type": "boolean"
            },
            "description": "Filter issues by whether they represent an internet-reachable vulnerability"
          },
          {
            "in": "query",
            "name": "likelyExploitableVulnerability",
            "schema": {
              "description": "Filter issues by whether they represent a likely-exploitable vulnerability",
              "type": "boolean"
            },
            "description": "Filter issues by whether they represent a likely-exploitable vulnerability"
          },
          {
            "in": "query",
            "name": "evaluationDateStart",
            "schema": {
              "description": "The start date of the evaluation date range. The evaluation date should be greater than or equal to this date.",
              "example": "2024-01-01",
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "The start date of the evaluation date range. The evaluation date should be greater than or equal to this date."
          },
          {
            "in": "query",
            "name": "evaluationDateEnd",
            "schema": {
              "description": "The end date of the evaluation date range. The evaluation date should be less than or equal to this date.",
              "example": "2024-01-15",
              "type": "string",
              "format": "date",
              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))$"
            },
            "description": "The end date of the evaluation date range. The evaluation date should be less than or equal to this date."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IssueResponseObject"
                      }
                    }
                  },
                  "required": [
                    "issues"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "links": {
              "getIssues": {
                "$ref": "#/components/links/getIssues"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "operationId": "postIssue",
        "summary": "Create a new issue",
        "description": "Creates a new issue within the project specified by the request body's `projectId`. The `id` value of the issue returned can be used as the `issueId` parameter in other routes or request bodies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                    "description": "A uuid that uniquely identifies the project this issue is associated with",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The title of the issue",
                    "example": "Issue Title Example"
                  },
                  "poamId": {
                    "description": "A user defined identifier for this issue",
                    "example": "FED-1",
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 255
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "originalLevel": {
                    "type": "string",
                    "enum": [
                      "NOT_SET",
                      "CHILL",
                      "LOW",
                      "MODERATE",
                      "HIGH",
                      "CRITICAL"
                    ],
                    "description": "The original risk level of the issue",
                    "example": "HIGH"
                  },
                  "pointOfContact": {
                    "description": "The point of contact for the issue",
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "email": {
                            "type": "string",
                            "format": "email",
                            "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                          }
                        },
                        "required": [
                          "name",
                          "email"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "pluginId": {
                    "description": "The plugin id associated with the issue",
                    "example": "plugin-123",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "cveIds": {
                    "description": "The CVE IDs associated with the issue",
                    "example": [
                      "CVE-2022-1234"
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "links": {
                    "description": "Links associated with the issue",
                    "example": [
                      {
                        "title": "link1",
                        "url": "https://example.com/link1"
                      },
                      {
                        "title": "link2",
                        "url": "https://example.com/link2"
                      }
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "url": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "url"
                          ]
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "status": {
                    "description": "The current status of the issue",
                    "example": "OPEN",
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "OPEN",
                          "CLOSED"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "statusDate": {
                    "description": "The date the current status was set",
                    "example": "2022-01-01T00:00:00.000Z",
                    "type": "string"
                  },
                  "origin": {
                    "description": "The element within Paramify that the issue originated from. An issue may have either an element `origin` or a `validatorOriginId`, but not both.",
                    "example": {
                      "name": "Qualys",
                      "subtype": "COM_SAAS"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "subtype": {
                            "type": "string",
                            "enum": [
                              "COM_AGREEMENT",
                              "COM_CRYPTOGRAPHIC_MODULE",
                              "COM_CUSTOMER_MANAGED",
                              "COM_FEDRAMP_SYSTEM",
                              "COM_HARDWARE",
                              "COM_IAAS",
                              "COM_INTERCONNECTION",
                              "COM_PAAS",
                              "COM_PLAN",
                              "COM_POLICY",
                              "COM_PROCEDURE",
                              "COM_PROCESS",
                              "COM_SAAS",
                              "COM_SERVICE",
                              "COM_SOFTWARE",
                              "COM_SUBNET",
                              "PAR_ORGANIZATION",
                              "PAR_PERSON"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "subtype"
                        ],
                        "description": "The name and subtype of the element within Paramify that created the issue",
                        "example": {
                          "name": "Qualys",
                          "subtype": "COM_SAAS"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "validatorOriginId": {
                    "description": "The id of the validator within Paramify that the issue originated from. An issue may have either an element `origin` or a `validatorOriginId`, but not both.",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "requirements": {
                    "description": "The controls and requirements associated with the issue. Each entry is a control reference id (e.g. \"AC-1\") or a legacy requirement label id (e.g. \"AC-1 Part a2\").",
                    "example": [
                      "AC-1",
                      "AC-1 Part a2",
                      "AC-2 Part b"
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "assets": {
                    "description": "The assets associated with the issue",
                    "example": [
                      "10.0.0.2",
                      "asset2"
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "dueDate": {
                    "description": "The date the issue is due",
                    "example": "2022-01-01T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "description": {
                    "description": "Text describing the issue",
                    "example": "This is a detailed description of the issue.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "remarks": {
                    "description": "Additional remarks or notes about the issue",
                    "example": "This issue requires immediate attention due to security implications.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "remediationDescription": {
                    "description": "Description of the remediation for the issue",
                    "example": "This is a detailed description of the remediation.",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "type": {
                    "description": "The type of observation for the issue",
                    "$ref": "#/components/schemas/IssueObservationTypes"
                  },
                  "createdAt": {
                    "description": "The date the issue was created. If not provided, the current date will be used.",
                    "example": "2005-05-19T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "internetReachableVulnerability": {
                    "description": "Whether the issue represents an internet-reachable vulnerability.",
                    "example": false,
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "likelyExploitableVulnerability": {
                    "description": "Whether the issue represents a likely-exploitable vulnerability.",
                    "example": false,
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "evaluationDate": {
                    "description": "The evaluation date for the issue. If not provided, it will default to the issue's effective date.",
                    "example": "2022-01-01T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "deviations": {
                    "description": "The deviations associated with the issue",
                    "example": [
                      {
                        "description": "Deviation description",
                        "method": "TEST",
                        "type": "VENDOR_DEPENDENCY",
                        "createdAt": "2022-01-01T00:00:00Z",
                        "deviationMetadata": {
                          "status": "PENDING",
                          "adjustedLevel": "MODERATE",
                          "acceptanceStatusDate": "2022-01-01T00:00:00.000Z"
                        }
                      }
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "The description of the deviation"
                            },
                            "method": {
                              "type": "string",
                              "enum": [
                                "TEST",
                                "EXAMINE",
                                "INTERVIEW",
                                "UNKNOWN"
                              ]
                            },
                            "type": {
                              "$ref": "#/components/schemas/DeviationObservationTypes"
                            },
                            "createdAt": {
                              "description": "The date the deviation was created",
                              "example": "2022-01-01T00:00:00.000Z",
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "deviationMetadata": {
                              "type": "object",
                              "properties": {
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "PENDING",
                                    "ACCEPTED",
                                    "REJECTED"
                                  ]
                                },
                                "adjustedLevel": {
                                  "type": "string",
                                  "enum": [
                                    "NOT_SET",
                                    "CHILL",
                                    "LOW",
                                    "MODERATE",
                                    "HIGH",
                                    "CRITICAL"
                                  ]
                                },
                                "acceptanceStatusDate": {
                                  "description": "The date the deviation status was accepted or rejected",
                                  "example": "2022-01-01T00:00:00.000Z",
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "status"
                              ],
                              "description": "Deviation schema"
                            }
                          },
                          "required": [
                            "description",
                            "method",
                            "type",
                            "deviationMetadata"
                          ]
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "recommendations": {
                    "description": "The recommendations associated with the issue",
                    "example": [
                      {
                        "description": "Recommendation description",
                        "origins": [
                          {
                            "name": "Qualys",
                            "subtype": "COM_SAAS"
                          }
                        ]
                      }
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "description": {
                              "type": "string",
                              "description": "The description of the recommendation",
                              "example": "This is a detailed description of the recommendation."
                            },
                            "origins": {
                              "description": "The origins of the recommendation",
                              "example": [
                                {
                                  "name": "Qualys",
                                  "subtype": "COM_SAAS"
                                }
                              ],
                              "anyOf": [
                                {
                                  "type": "array",
                                  "items": {
                                    "type": "object",
                                    "properties": {
                                      "name": {
                                        "type": "string",
                                        "minLength": 1,
                                        "maxLength": 255
                                      },
                                      "subtype": {
                                        "type": "string",
                                        "enum": [
                                          "COM_AGREEMENT",
                                          "COM_CRYPTOGRAPHIC_MODULE",
                                          "COM_CUSTOMER_MANAGED",
                                          "COM_FEDRAMP_SYSTEM",
                                          "COM_HARDWARE",
                                          "COM_IAAS",
                                          "COM_INTERCONNECTION",
                                          "COM_PAAS",
                                          "COM_PLAN",
                                          "COM_POLICY",
                                          "COM_PROCEDURE",
                                          "COM_PROCESS",
                                          "COM_SAAS",
                                          "COM_SERVICE",
                                          "COM_SOFTWARE",
                                          "COM_SUBNET",
                                          "PAR_ORGANIZATION",
                                          "PAR_PERSON"
                                        ]
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "subtype"
                                    ],
                                    "description": "The name and subtype of the element within Paramify that created the issue",
                                    "example": {
                                      "name": "Qualys",
                                      "subtype": "COM_SAAS"
                                    }
                                  }
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            }
                          },
                          "required": [
                            "description"
                          ]
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "milestones": {
                    "description": "The milestones associated with the issue",
                    "example": [
                      {
                        "title": "Milestone title",
                        "description": "Milestone description",
                        "dueStart": "2022-01-01T00:00:00.000Z",
                        "dueEnd": "2022-01-01T00:00:00.000Z"
                      }
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "$ref": "#/components/schemas/MilestoneObject"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "customTags": {
                    "description": "Custom tag names to associate with the issue",
                    "example": [
                      "Critical",
                      "Q4 Review"
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "projectId",
                  "title",
                  "originalLevel",
                  "statusDate",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponseObject"
                }
              }
            },
            "links": {
              "postIssue": {
                "$ref": "#/components/links/postIssue"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssueById",
        "summary": "Gets the issue specified by the issueId",
        "description": "Returns the issue specified by the `issueId` query parameter and accessible to the api key. The `id` value of the issue returned can be used as the `issueId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponseObject"
                }
              }
            },
            "links": {
              "getIssueById": {
                "$ref": "#/components/links/getIssueById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
        "tags": [
          "Issues"
        ],
        "operationId": "patchIssueById",
        "summary": "Updates the issue specified by the issueId",
        "description": "Updates the issue specified by the `issueId`. Upon successful operation, all fields that are not arrays will be overwritten. Fields that accept array values will add the provided values to the existing values.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "description": "The title of the issue",
                    "example": "Issue Title Example",
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "poamId": {
                    "description": "A user defined identifier for this issue",
                    "example": "FED-1",
                    "type": "string",
                    "maxLength": 255
                  },
                  "originalLevel": {
                    "description": "The original risk level of the issue",
                    "example": "HIGH",
                    "type": "string",
                    "enum": [
                      "NOT_SET",
                      "CHILL",
                      "LOW",
                      "MODERATE",
                      "HIGH",
                      "CRITICAL"
                    ]
                  },
                  "pointOfContact": {
                    "description": "The point of contact for the issue",
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    },
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "pattern": "^(?!\\.)(?!.*\\.\\.)([A-Za-z0-9_'+\\-\\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\\-]*\\.)+[A-Za-z]{2,}$"
                      }
                    },
                    "required": [
                      "name",
                      "email"
                    ]
                  },
                  "pluginId": {
                    "description": "The plugin id associated with the issue",
                    "example": "plugin-123",
                    "type": "string"
                  },
                  "cveIds": {
                    "description": "The CVE IDs associated with the issue",
                    "example": [
                      "CVE-2022-1234"
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "links": {
                    "description": "Links associated with the issue",
                    "example": [
                      {
                        "title": "link1",
                        "url": "https://example.com/link1"
                      },
                      {
                        "title": "link2",
                        "url": "https://example.com/link2"
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    }
                  },
                  "status": {
                    "description": "The current status of the issue",
                    "example": "OPEN",
                    "type": "string",
                    "enum": [
                      "OPEN",
                      "CLOSED"
                    ]
                  },
                  "statusDate": {
                    "description": "The date the current status was set",
                    "example": "2022-01-01T00:00:00.000Z",
                    "type": "string"
                  },
                  "origin": {
                    "description": "The traditional element within Paramify that the issue originated from. An issue may have either an `origin` or a `validatorOriginId`, but not both. Patching one clears the other. Pass `null` to clear the element origin; omit to leave it unchanged.",
                    "example": {
                      "name": "Qualys",
                      "subtype": "COM_SAAS"
                    },
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "subtype": {
                            "type": "string",
                            "enum": [
                              "COM_AGREEMENT",
                              "COM_CRYPTOGRAPHIC_MODULE",
                              "COM_CUSTOMER_MANAGED",
                              "COM_FEDRAMP_SYSTEM",
                              "COM_HARDWARE",
                              "COM_IAAS",
                              "COM_INTERCONNECTION",
                              "COM_PAAS",
                              "COM_PLAN",
                              "COM_POLICY",
                              "COM_PROCEDURE",
                              "COM_PROCESS",
                              "COM_SAAS",
                              "COM_SERVICE",
                              "COM_SOFTWARE",
                              "COM_SUBNET",
                              "PAR_ORGANIZATION",
                              "PAR_PERSON"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "subtype"
                        ],
                        "description": "The name and subtype of the element within Paramify that created the issue",
                        "example": {
                          "name": "Qualys",
                          "subtype": "COM_SAAS"
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "validatorOriginId": {
                    "description": "The id of the validator within Paramify that the issue originated from. An issue may have either an `origin` or a `validatorOriginId`, but not both. Patching one clears the other. Pass `null` to clear the validator origin; omit to leave it unchanged.",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "uuid",
                        "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "requirements": {
                    "description": "The controls and requirements associated with the issue. Each entry is a control reference id (e.g. \"AC-1\") or a legacy requirement label id (e.g. \"AC-1 Part a2\").",
                    "example": [
                      "AC-1",
                      "AC-1 Part a2",
                      "AC-2 Part b"
                    ],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "assets": {
                    "description": "The assets associated with the issue",
                    "example": [
                      "10.0.0.2",
                      "asset2"
                    ],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "dueDate": {
                    "description": "The date the issue is due",
                    "example": "2022-01-01T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "description": {
                    "description": "Text describing the issue",
                    "example": "This is a detailed description of the issue.",
                    "type": "string"
                  },
                  "remarks": {
                    "description": "Additional remarks or notes about the issue",
                    "example": "This issue requires immediate attention due to security implications.",
                    "type": "string"
                  },
                  "remediationDescription": {
                    "description": "Description of the remediation for the issue",
                    "example": "This is a detailed description of the remediation.",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of observation for the issue",
                    "$ref": "#/components/schemas/IssueObservationTypes"
                  },
                  "createdAt": {
                    "description": "The date the issue was created",
                    "example": "2022-01-01T00:00:00Z",
                    "type": "string"
                  },
                  "internetReachableVulnerability": {
                    "description": "Whether the issue represents an internet-reachable vulnerability.",
                    "example": false,
                    "type": "boolean"
                  },
                  "likelyExploitableVulnerability": {
                    "description": "Whether the issue represents a likely-exploitable vulnerability.",
                    "example": false,
                    "type": "boolean"
                  },
                  "evaluationDate": {
                    "description": "The evaluation date for the issue.",
                    "example": "2022-01-01T00:00:00.000Z",
                    "type": "string"
                  },
                  "deviations": {
                    "description": "The deviations associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "description": "Deviation description",
                        "method": "TEST",
                        "type": "VENDOR_DEPENDENCY",
                        "createdAt": "2022-01-01T00:00:00Z",
                        "deviationMetadata": {
                          "status": "PENDING",
                          "adjustedLevel": "MODERATE",
                          "acceptanceStatusDate": "2022-01-01T00:00:00.000Z"
                        }
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "TEST",
                            "EXAMINE",
                            "INTERVIEW",
                            "UNKNOWN"
                          ]
                        },
                        "type": {
                          "$ref": "#/components/schemas/DeviationObservationTypes"
                        },
                        "createdAt": {
                          "description": "The date the deviation was created",
                          "example": "2022-01-01T00:00:00.000Z",
                          "type": "string"
                        },
                        "deviationMetadata": {
                          "$ref": "#/components/schemas/DeviationMetadataObject"
                        }
                      }
                    }
                  },
                  "recommendations": {
                    "description": "The recommendations associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "description": "Recommendation description",
                        "origins": [
                          {
                            "name": "Qualys",
                            "subtype": "COM_SAAS"
                          }
                        ]
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "A uuid that uniquely identifies the recommendation",
                          "example": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "description": {
                          "description": "The description of the recommendation",
                          "example": "This is a detailed description of the recommendation.",
                          "type": "string"
                        },
                        "origins": {
                          "description": "The origins of the recommendation",
                          "example": [
                            {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          ],
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "subtype": {
                                "type": "string",
                                "enum": [
                                  "COM_AGREEMENT",
                                  "COM_CRYPTOGRAPHIC_MODULE",
                                  "COM_CUSTOMER_MANAGED",
                                  "COM_FEDRAMP_SYSTEM",
                                  "COM_HARDWARE",
                                  "COM_IAAS",
                                  "COM_INTERCONNECTION",
                                  "COM_PAAS",
                                  "COM_PLAN",
                                  "COM_POLICY",
                                  "COM_PROCEDURE",
                                  "COM_PROCESS",
                                  "COM_SAAS",
                                  "COM_SERVICE",
                                  "COM_SOFTWARE",
                                  "COM_SUBNET",
                                  "PAR_ORGANIZATION",
                                  "PAR_PERSON"
                                ]
                              }
                            },
                            "required": [
                              "name",
                              "subtype"
                            ],
                            "description": "The name and subtype of the element within Paramify that created the issue",
                            "example": {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          }
                        }
                      }
                    }
                  },
                  "milestones": {
                    "description": "The milestones associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "title": "Milestone title",
                        "description": "Milestone description",
                        "dueStart": "2022-01-01T00:00:00.000Z",
                        "dueEnd": "2022-01-01T00:00:00.000Z"
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "description": "A uuid that uniquely identifies the milestone",
                          "example": "123e4567-e89b-12d3-a456-426614174000",
                          "type": "string",
                          "format": "uuid",
                          "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                        },
                        "title": {
                          "description": "The title of the milestone",
                          "example": "Task Title Example",
                          "type": "string",
                          "minLength": 1
                        },
                        "description": {
                          "description": "The description of the milestone",
                          "example": "This is a detailed description of the milestone.",
                          "type": "string",
                          "minLength": 1
                        },
                        "dueEnd": {
                          "description": "The date the milestone is due to be completed",
                          "example": "2025-01-01T00:00:00.000Z",
                          "type": "string"
                        },
                        "dueStart": {
                          "description": "The date progress on the milestone should start",
                          "example": "2024-12-01T00:00:00.000Z",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The issue as it exists after the operation",
                  "$ref": "#/components/schemas/IssueResponseObject"
                }
              }
            },
            "links": {
              "patchIssueById": {
                "$ref": "#/components/links/patchIssueById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "delete": {
        "tags": [
          "Issues"
        ],
        "operationId": "deleteIssueById",
        "summary": "Deletes the issue specified by the issueId",
        "description": "Deletes the issue specified by the `issueId` query parameter. Warning: This action is irreversible.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/oscal": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssuesOscal",
        "summary": "Download POAM OSCAL XML",
        "description": "Downloads Plan of Action & Milestones (POAM) data in OSCAL XML format. When a `projectId` is provided, returns the POAM for that specific project. When omitted, returns a combined POAM for all projects in the workspace.",
        "parameters": [
          {
            "in": "query",
            "name": "projectId",
            "schema": {
              "description": "An id that represents a project within the Paramify application.",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
            },
            "description": "An id that represents a project within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "POAM OSCAL XML document"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/recommendations": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "getRecommendations",
        "summary": "Get all recommendations for the specified issue",
        "description": "Gets all recommendations within the issue specified by the `issueId`, and optionally filtered by `id`. The `id` value of the recommendation(s) returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "description": "Filter recommendations by ID. Multiple IDs can be provided to retrieve multiple recommendations at once.",
              "example": [
                "251b4a27-cf85-416d-8364-9c59c1ad0ed5",
                "251b4a27-cf85-416d-8364-9c59c1ad0ed6"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/recommendationId"
              }
            },
            "description": "Filter recommendations by ID. Multiple IDs can be provided to retrieve multiple recommendations at once."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecommendationResponseObject"
                      }
                    }
                  },
                  "required": [
                    "recommendations"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "links": {
              "getRecommendations": {
                "$ref": "#/components/links/getRecommendations"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "postRecommendation",
        "summary": "Create a new recommendation on the specified issue",
        "description": "Creates a new recommendation within the issue specified by the  `issueId`. The `id` value of the recommendation returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description of the recommendation",
                    "example": "This is a detailed description of the recommendation."
                  },
                  "origins": {
                    "description": "The origins of the recommendation",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ],
                    "anyOf": [
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 255
                            },
                            "subtype": {
                              "type": "string",
                              "enum": [
                                "COM_AGREEMENT",
                                "COM_CRYPTOGRAPHIC_MODULE",
                                "COM_CUSTOMER_MANAGED",
                                "COM_FEDRAMP_SYSTEM",
                                "COM_HARDWARE",
                                "COM_IAAS",
                                "COM_INTERCONNECTION",
                                "COM_PAAS",
                                "COM_PLAN",
                                "COM_POLICY",
                                "COM_PROCEDURE",
                                "COM_PROCESS",
                                "COM_SAAS",
                                "COM_SERVICE",
                                "COM_SOFTWARE",
                                "COM_SUBNET",
                                "PAR_ORGANIZATION",
                                "PAR_PERSON"
                              ]
                            }
                          },
                          "required": [
                            "name",
                            "subtype"
                          ],
                          "description": "The name and subtype of the element within Paramify that created the issue",
                          "example": {
                            "name": "Qualys",
                            "subtype": "COM_SAAS"
                          }
                        }
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationResponseObject"
                }
              }
            },
            "links": {
              "postRecommendation": {
                "$ref": "#/components/links/postRecommendation"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/recommendations/{recommendationId}": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "getRecommendationById",
        "summary": "Get the recommendation specified by the recommendationId",
        "description": "Gets the recommendation specified by the `recommendationId` within the issue specified by the `issueId`. The `id` value of the recommendation returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "$ref": "#/components/schemas/recommendationId"
            },
            "required": true,
            "description": "An id that represents a recommendation within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationResponseObject"
                }
              }
            },
            "links": {
              "getRecommendationById": {
                "$ref": "#/components/links/getRecommendationById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "patchRecommendationById",
        "summary": "Updates the recommendation specified by the recommendationId",
        "description": "Updates the recommendation specified by the `recommendationId`. Upon successful operation, all fields that are not arrays will be overwritten. Fields that accept array values will add the provided values to the existing values.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "$ref": "#/components/schemas/recommendationId"
            },
            "required": true,
            "description": "An id that represents a recommendation within the Paramify application."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "A uuid that uniquely identifies the recommendation",
                    "example": "123e4567-e89b-12d3-a456-426614174000",
                    "type": "string",
                    "format": "uuid",
                    "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$"
                  },
                  "description": {
                    "description": "The description of the recommendation",
                    "example": "This is a detailed description of the recommendation.",
                    "type": "string"
                  },
                  "origins": {
                    "description": "The origins of the recommendation",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ],
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "subtype": {
                          "type": "string",
                          "enum": [
                            "COM_AGREEMENT",
                            "COM_CRYPTOGRAPHIC_MODULE",
                            "COM_CUSTOMER_MANAGED",
                            "COM_FEDRAMP_SYSTEM",
                            "COM_HARDWARE",
                            "COM_IAAS",
                            "COM_INTERCONNECTION",
                            "COM_PAAS",
                            "COM_PLAN",
                            "COM_POLICY",
                            "COM_PROCEDURE",
                            "COM_PROCESS",
                            "COM_SAAS",
                            "COM_SERVICE",
                            "COM_SOFTWARE",
                            "COM_SUBNET",
                            "PAR_ORGANIZATION",
                            "PAR_PERSON"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "subtype"
                      ],
                      "description": "The name and subtype of the element within Paramify that created the issue",
                      "example": {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "description": "The recommendation as it exists after the operation",
                  "$ref": "#/components/schemas/RecommendationResponseObject"
                }
              }
            },
            "links": {
              "patchRecommendationById": {
                "$ref": "#/components/links/patchRecommendationById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "delete": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "deleteRecommendationById",
        "summary": "Deletes the recommendation specified by the recommendationId",
        "description": "Deletes the recommendation specified by the `recommendationId` within the issue specified by the `issueId`. Warning: This action is irreversible.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "$ref": "#/components/schemas/recommendationId"
            },
            "required": true,
            "description": "An id that represents a recommendation within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/deviations": {
      "get": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "operationId": "getDeviations",
        "summary": "Get all deviations for the specified issue",
        "description": "This endpoint returns all deviations for the specified issue. You may filter the results by `id` to retrieve several specific deviations at once.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "description": "Filter deviations by ID. Multiple IDs can be provided to retrieve multiple deviations at once.",
              "example": [
                "251b4a27-cf85-416d-8364-9c59c1ad0ed5",
                "251b4a27-cf85-416d-8364-9c59c1ad0ed6"
              ],
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/deviationId"
              }
            },
            "description": "Filter deviations by ID. Multiple IDs can be provided to retrieve multiple deviations at once."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeviationResponseObject"
                      }
                    }
                  },
                  "required": [
                    "deviations"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "links": {
              "getDeviations": {
                "$ref": "#/components/links/getDeviations"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "summary": "Create a new deviation on the specified issue",
        "description": "Creates a new deviation on the issue specified by the `issueId` path parameter. The `id` value of the deviation returned can be used as the `deviationId` parameter in the `deviations` route.Note that if not provided, the `acceptanceStatusDate` field will be set to the current date if the status field is set to accepted or rejected.",
        "operationId": "postDeviation",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description of the deviation"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "TEST",
                      "EXAMINE",
                      "INTERVIEW",
                      "UNKNOWN"
                    ]
                  },
                  "type": {
                    "$ref": "#/components/schemas/DeviationObservationTypes"
                  },
                  "createdAt": {
                    "description": "The date the deviation was created",
                    "example": "2022-01-01T00:00:00.000Z",
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "deviationMetadata": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "ACCEPTED",
                          "REJECTED"
                        ]
                      },
                      "adjustedLevel": {
                        "type": "string",
                        "enum": [
                          "NOT_SET",
                          "CHILL",
                          "LOW",
                          "MODERATE",
                          "HIGH",
                          "CRITICAL"
                        ]
                      },
                      "acceptanceStatusDate": {
                        "description": "The date the deviation status was accepted or rejected",
                        "example": "2022-01-01T00:00:00.000Z",
                        "anyOf": [
                          {
                            "type": "string"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "status"
                    ],
                    "description": "Deviation schema"
                  }
                },
                "required": [
                  "description",
                  "method",
                  "type",
                  "deviationMetadata"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationResponseObject"
                }
              }
            },
            "links": {
              "postDeviation": {
                "$ref": "#/components/links/postDeviation"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/deviations/{deviationId}": {
      "get": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "summary": "Get the deviation by ID",
        "description": "Returns the deviation specified by the `deviationId` path parameter and associated with the issue specified by `issueId`. The `id` value of the deviation returned can be used as the `deviationId` parameter in the `deviations` route.",
        "operationId": "getDeviationById",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "$ref": "#/components/schemas/issueId"
            },
            "required": true,
            "description": "An id that represents an issue within the Paramify application."
          },
          {
            "in": "path",
            "name": "deviationId",
            "schema": {
              "$ref": "#/components/schemas/deviationId"
            },
            "required": true,
            "description": "An id that represents a deviation (\"Excuse\") within the Paramify application."
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationResponseObject"
                }
              }
            },
            "links": {
              "getDeviationById": {
                "$ref": "#/components/links/getDeviationById"
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "summary": "Updates the deviation by ID",
        "operationId": "patchDeviationById",
[...]
