{
  "openapi": "3.1.0",
  "info": {
    "title": "Paramify REST API Documentation",
    "version": "0.2.0",
    "description": "This is the REST API documentation for the Paramify application."
  },
  "servers": [
    {
      "url": "https://app.paramify.com/api/v0",
      "description": "The production server for the Paramify application."
    }
  ],
  "security": [
    {
      "authorization": [],
      "apiKey_DEPRECATED": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjects",
        "summary": "Get all projects accessible to the api key.",
        "description": "Returns all projects accessible to the api key. These are referred to as `Programs` in the Paramify application.The `id` value of any of the projects listed is referred to as the `projectId` query parameter in other routes or request bodies.",
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getProjects": {
                "$ref": "#/components/links/getProjects"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectResponseObject"
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjectById",
        "summary": "Get the project specified by the projectId.",
        "description": "Returns the project specified by the `projectId` query parameter and accessible to the api key. A project is called a `Program` in the Paramify application.The `id` value of the project returned can be used as the `projectId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getProjectById": {
                "$ref": "#/components/links/getProjectById"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/projects/{projectId}/control-implementations": {
      "get": {
        "tags": [
          "Project Control Implementations"
        ],
        "summary": "Get all control implementations for a project",
        "description": "Get all control implementations for a project",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getProjectControlImplementations": {
                "$ref": "#/components/links/getProjectControlImplementations"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "controlImplementations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A uuid that uniquely identifies an individual element within Paramify",
                            "example": "e3977e3e-0b77-4e78-81de-f90e3e37e43c"
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the control implementation",
                            "example": "AC-1 Part a1"
                          },
                          "control": {
                            "type": "string",
                            "description": "The name of the control",
                            "example": "AC-1"
                          },
                          "requirement": {
                            "type": "string",
                            "description": "The name of the requirement",
                            "example": "Part a1"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "control",
                          "requirement"
                        ]
                      }
                    }
                  },
                  "required": [
                    "controlImplementations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssues",
        "summary": "Get issues within a project filterable by query parameters.",
        "description": "Gets all issues within the project specified by the query parameter `projectId`, and optionally filtered by various parameters.\n\n**Basic Filtering:**\n- **Multiple IDs**: Pass several `id` values to retrieve multiple issues at once\n- **POAM IDs**: Pass several `poamId` values to retrieve multiple issues (requires `projectId`)\n\n**Content Filtering:**\n- **`deviationType`**: Retrieve issues containing deviations of the specified type\n- **`title`**: Retrieve issues whose title contains the provided string (case-insensitive)\n- **`kev`**: Retrieve issues containing CVE IDs present in the Known Exploited Vulnerabilities (KEV) catalog\n- **`cveId`**: Retrieve issues containing the specified CVE identifier (OR logic for multiple CVE IDs)\n- **`asset`**: Retrieve issues with at least one of the provided asset names (case-sensitive, exact match)\n\n**Date Range Filtering:**\n\nDate ranges are inclusive. You may provide one side of the date range to get an unbounded range. Date format for all filters: YYYY-MM-DD (e.g., \"2024-01-01\")\n- **Effective Date**: Use `effectiveDateStart` and `effectiveDateEnd` (filters the `createdAt` field returned by the API)\n- **Due Date**: Use `dueDateStart` and `dueDateEnd`\n- **Status Date**: Use `statusDateStart` and `statusDateEnd`",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "description": "An id that represents an issue within the Paramify application. You may pass in several `id` values at once.",
            "schema": {
              "$ref": "#/components/schemas/id"
            }
          },
          {
            "in": "query",
            "name": "poamId",
            "description": "User defined identifier for this issue. You may pass in several `poamId` values at once. If used, the projectId is required.",
            "schema": {
              "$ref": "#/components/schemas/poamId"
            }
          },
          {
            "in": "query",
            "name": "projectId",
            "description": "An id that represents a project within the Paramify application.",
            "schema": {
              "$ref": "#/components/schemas/projectId"
            }
          },
          {
            "in": "query",
            "name": "deviationType",
            "description": "The type of deviations.",
            "schema": {
              "$ref": "#/components/schemas/deviationType"
            }
          },
          {
            "in": "query",
            "name": "kev",
            "description": "Add to filter issues containing CVE IDs from the Known Exploited Vulnerabilities (KEV) catalog or not",
            "schema": {
              "type": "boolean",
              "description": "Add to filter issues containing CVE IDs from the Known Exploited Vulnerabilities (KEV) catalog or not"
            }
          },
          {
            "in": "query",
            "name": "effectiveDateStart",
            "description": "A date that will be used to filter issues that have an effective date greater than or equal to the date passed in. Date format: YYYY-MM-DD.",
            "schema": {
              "$ref": "#/components/schemas/effectiveDateStart"
            }
          },
          {
            "in": "query",
            "name": "effectiveDateEnd",
            "description": "A date that will be used to filter issues that have an effective date less than or equal to the date passed in. Date format: YYYY-MM-DD.",
            "schema": {
              "$ref": "#/components/schemas/effectiveDateEnd"
            }
          },
          {
            "in": "query",
            "name": "statusDateStart",
            "description": "The start date of the status date range. The status date should be greater than or equal to this date.",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The start date of the status date range. The status date should be greater than or equal to this date.",
              "example": "2024-01-01"
            }
          },
          {
            "in": "query",
            "name": "statusDateEnd",
            "description": "The end date of the status date range. The status date should be less than or equal to this date.",
            "schema": {
              "type": "string",
              "format": "date",
              "description": "The end date of the status date range. The status date should be less than or equal to this date.",
              "example": "2024-01-15"
            }
          },
          {
            "in": "query",
            "name": "cveId",
            "description": "A valid CVE ID. Can be passed multiple times to filter by multiple CVE IDs.",
            "schema": {
              "$ref": "#/components/schemas/cveIds"
            }
          },
          {
            "in": "query",
            "name": "dueDateStart",
            "description": "The start date of the due date range. The due date should be greater than or equal to this date.",
            "schema": {
              "$ref": "#/components/schemas/dueDateStart"
            }
          },
          {
            "in": "query",
            "name": "dueDateEnd",
            "description": "The end date of the due date range. The due date should be less than or equal to this date.",
            "schema": {
              "$ref": "#/components/schemas/dueDateEnd"
            }
          },
          {
            "in": "query",
            "name": "title",
            "description": "A string that represents the title or part of the title of an issue.",
            "schema": {
              "$ref": "#/components/schemas/title"
            }
          },
          {
            "in": "query",
            "name": "asset",
            "description": "A string that represents an asset of an issue.",
            "schema": {
              "$ref": "#/components/schemas/asset"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getIssues": {
                "$ref": "#/components/links/getIssues"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "issues": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IssueResponseObject"
                      }
                    }
                  },
                  "required": [
                    "issues"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Issues"
        ],
        "operationId": "postIssue",
        "summary": "Create a new issue",
        "description": "Creates a new issue within the project specified by the request body's `projectId`. The `id` value of the issue returned can be used as the `issueId` parameter in other routes or request bodies.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "projectId": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A uuid that uniquely identifies the project this issue is associated with",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The title of the issue",
                    "example": "Issue Title Example"
                  },
                  "poamId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "maxLength": 255,
                    "description": "A user defined identifier for this issue",
                    "example": "FED-1"
                  },
                  "originalLevel": {
                    "type": "string",
                    "enum": [
                      "CHILL",
                      "LOW",
                      "MODERATE",
                      "HIGH",
                      "CRITICAL"
                    ],
                    "description": "The original risk level of the issue",
                    "example": "HIGH"
                  },
                  "pointOfContact": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "required": [
                      "name",
                      "email"
                    ],
                    "description": "The point of contact for the issue",
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    }
                  },
                  "pluginId": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The plugin id associated with the issue",
                    "example": "plugin-123"
                  },
                  "cveIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The CVE IDs associated with the issue",
                    "example": [
                      "CVE-2022-1234"
                    ]
                  },
                  "links": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "description": "Links associated with the issue",
                    "example": [
                      {
                        "title": "link1",
                        "url": "https://example.com/link1"
                      },
                      {
                        "title": "link2",
                        "url": "https://example.com/link2"
                      }
                    ]
                  },
                  "status": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "enum": [
                      "OPEN",
                      "CLOSED"
                    ],
                    "description": "The current status of the issue",
                    "example": "OPEN"
                  },
                  "statusDate": {
                    "type": "string",
                    "description": "The date the current status was set",
                    "example": "2022-01-01T00:00:00.000Z"
                  },
                  "origins": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "subtype": {
                          "type": "string",
                          "enum": [
                            "COM_AGREEMENT",
                            "COM_CUSTOMER_MANAGED",
                            "COM_FEDRAMP_SYSTEM",
                            "COM_HARDWARE",
                            "COM_IAAS",
                            "COM_INTERCONNECTION",
                            "COM_PAAS",
                            "COM_PLAN",
                            "COM_POLICY",
                            "COM_PROCEDURE",
                            "COM_PROCESS",
                            "COM_SAAS",
                            "COM_SERVICE",
                            "COM_SOFTWARE",
                            "COM_SUBNET",
                            "COM_CRYPTOGRAPHIC_MODULE",
                            "COM_STACK_PARAMETER",
                            "PAR_ORGANIZATION",
                            "PAR_PERSON",
                            "ROL_NO_LOGICAL_ACCESS",
                            "ROL_NOT_PRIVILEGED",
                            "ROL_PRIVILEGED",
                            "LOC_CAMPUS",
                            "LOC_DATA_CENTER",
                            "LOC_DATA_REGION_CLOUD",
                            "LOC_OTHER",
                            "LOC_REMOTE",
                            "DAT_ACCOUNT_DATA",
                            "DAT_CUSTOMER_DATA",
                            "DAT_METADATA",
                            "DAT_SUPPORT_ADMIN"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "subtype"
                      ],
                      "description": "The name and subtype of the element within Paramify that created the issue",
                      "example": {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    },
                    "description": "The origins of the issue",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ]
                  },
                  "requirements": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The requirements associated with the issue",
                    "example": [
                      "AC-1 Part a2",
                      "AC-2 Part b"
                    ]
                  },
                  "assets": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The assets associated with the issue",
                    "example": [
                      "10.0.0.2",
                      "asset2"
                    ]
                  },
                  "dueDate": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "The date the issue is due",
                    "example": "2022-01-01T00:00:00.000Z"
                  },
                  "description": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Text describing the issue",
                    "example": "This is a detailed description of the issue."
                  },
                  "remarks": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Additional remarks or notes about the issue",
                    "example": "This issue requires immediate attention due to security implications."
                  },
                  "remediationDescription": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "description": "Description of the remediation for the issue",
                    "example": "This is a detailed description of the remediation."
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "CONTROL",
                      "VULNERABILITY",
                      "DOCUMENTATION",
                      "CONFIGURATION",
                      "NOT_SET"
                    ],
                    "description": "The type of observation for the issue",
                    "example": "CONTROL"
                  },
                  "createdAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": "2025-12-24T00:22:36.575Z",
                    "description": "The date the issue was created. If not provided, the current date will be used.",
                    "example": "2005-05-19T00:00:00.000Z"
                  },
                  "deviations": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "description": "The description of the deviation"
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "TEST",
                            "EXAMINE",
                            "INTERVIEW",
                            "UNKNOWN"
                          ]
                        },
                        "type": {
                          "$ref": "#/components/schemas/DeviationObservationTypes"
                        },
                        "createdAt": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "default": "2025-12-24T00:22:36.574Z",
                          "description": "The date the deviation was created",
                          "example": "2022-01-01T00:00:00.000Z"
                        },
                        "deviationMetadata": {
                          "type": "object",
                          "properties": {
                            "status": {
                              "type": "string",
                              "enum": [
                                "PENDING",
                                "ACCEPTED",
                                "REJECTED"
                              ]
                            },
                            "adjustedLevel": {
                              "type": "string",
                              "enum": [
                                "CHILL",
                                "LOW",
                                "MODERATE",
                                "HIGH",
                                "CRITICAL"
                              ]
                            }
                          },
                          "required": [
                            "status"
                          ],
                          "description": "Deviation schema"
                        }
                      },
                      "required": [
                        "description",
                        "method",
                        "type",
                        "deviationMetadata"
                      ]
                    },
                    "description": "The deviations associated with the issue",
                    "example": [
                      {
                        "description": "Deviation description",
                        "method": "TEST",
                        "type": "VENDOR_DEPENDENCY",
                        "createdAt": "2022-01-01T00:00:00Z",
                        "deviationMetadata": {
                          "status": "PENDING",
                          "adjustedLevel": "MODERATE"
                        }
                      }
                    ]
                  },
                  "recommendations": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "description": {
                          "type": "string",
                          "description": "The description of the recommendation",
                          "example": "This is a detailed description of the recommendation."
                        },
                        "origins": {
                          "type": [
                            "array",
                            "null"
                          ],
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "subtype": {
                                "type": "string",
                                "enum": [
                                  "COM_AGREEMENT",
                                  "COM_CUSTOMER_MANAGED",
                                  "COM_FEDRAMP_SYSTEM",
                                  "COM_HARDWARE",
                                  "COM_IAAS",
                                  "COM_INTERCONNECTION",
                                  "COM_PAAS",
                                  "COM_PLAN",
                                  "COM_POLICY",
                                  "COM_PROCEDURE",
                                  "COM_PROCESS",
                                  "COM_SAAS",
                                  "COM_SERVICE",
                                  "COM_SOFTWARE",
                                  "COM_SUBNET",
                                  "COM_CRYPTOGRAPHIC_MODULE",
                                  "COM_STACK_PARAMETER",
                                  "PAR_ORGANIZATION",
                                  "PAR_PERSON",
                                  "ROL_NO_LOGICAL_ACCESS",
                                  "ROL_NOT_PRIVILEGED",
                                  "ROL_PRIVILEGED",
                                  "LOC_CAMPUS",
                                  "LOC_DATA_CENTER",
                                  "LOC_DATA_REGION_CLOUD",
                                  "LOC_OTHER",
                                  "LOC_REMOTE",
                                  "DAT_ACCOUNT_DATA",
                                  "DAT_CUSTOMER_DATA",
                                  "DAT_METADATA",
                                  "DAT_SUPPORT_ADMIN"
                                ]
                              }
                            },
                            "required": [
                              "name",
                              "subtype"
                            ],
                            "description": "The name and subtype of the element within Paramify that created the issue",
                            "example": {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          },
                          "description": "The origins of the recommendation",
                          "example": [
                            {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          ]
                        }
                      },
                      "required": [
                        "description"
                      ]
                    },
                    "description": "The recommendations associated with the issue",
                    "example": [
                      {
                        "description": "Recommendation description",
                        "origins": [
                          {
                            "name": "Qualys",
                            "subtype": "COM_SAAS"
                          }
                        ]
                      }
                    ]
                  },
                  "milestones": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "$ref": "#/components/schemas/MilestoneObject"
                    },
                    "description": "The milestones associated with the issue",
                    "example": [
                      {
                        "title": "Milestone title",
                        "description": "Milestone description",
                        "dueStart": "2022-01-01T00:00:00.000Z",
                        "dueEnd": "2022-01-01T00:00:00.000Z"
                      }
                    ]
                  }
                },
                "required": [
                  "projectId",
                  "title",
                  "originalLevel",
                  "statusDate",
                  "type"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "postIssue": {
                "$ref": "#/components/links/postIssue"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}": {
      "get": {
        "tags": [
          "Issues"
        ],
        "operationId": "getIssueById",
        "summary": "Gets the issue specified by the issueId",
        "description": "Returns the issue specified by the `issueId` query parameter and accessible to the api key. The `id` value of the issue returned can be used as the `issueId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IssueResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
        "tags": [
          "Issues"
        ],
        "operationId": "patchIssueById",
        "summary": "Updates the issue specified by the issueId",
        "description": "Updates the issue specified by the `issueId`. Upon successful operation, all fields that are not arrays will be overwritten. Fields that accept array values will add the provided values to the existing values.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255,
                    "description": "The title of the issue",
                    "example": "Issue Title Example"
                  },
                  "poamId": {
                    "type": "string",
                    "maxLength": 255,
                    "description": "A user defined identifier for this issue",
                    "example": "FED-1"
                  },
                  "originalLevel": {
                    "type": "string",
                    "enum": [
                      "CHILL",
                      "LOW",
                      "MODERATE",
                      "HIGH",
                      "CRITICAL"
                    ],
                    "description": "The original risk level of the issue",
                    "example": "HIGH"
                  },
                  "pointOfContact": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 255
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      }
                    },
                    "required": [
                      "name",
                      "email"
                    ],
                    "description": "The point of contact for the issue",
                    "example": {
                      "name": "John Doe",
                      "email": "john@example.com"
                    }
                  },
                  "pluginId": {
                    "type": "string",
                    "description": "The plugin id associated with the issue",
                    "example": "plugin-123"
                  },
                  "cveIds": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "string"
                    },
                    "description": "The CVE IDs associated with the issue",
                    "example": [
                      "CVE-2022-1234"
                    ]
                  },
                  "links": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "url"
                      ]
                    },
                    "description": "Links associated with the issue",
                    "example": [
                      {
                        "title": "link1",
                        "url": "https://example.com/link1"
                      },
                      {
                        "title": "link2",
                        "url": "https://example.com/link2"
                      }
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "OPEN",
                      "CLOSED"
                    ],
                    "description": "The current status of the issue",
                    "example": "OPEN"
                  },
                  "statusDate": {
                    "type": "string",
                    "description": "The date the current status was set",
                    "example": "2022-01-01T00:00:00.000Z"
                  },
                  "origins": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "subtype": {
                          "type": "string",
                          "enum": [
                            "COM_AGREEMENT",
                            "COM_CUSTOMER_MANAGED",
                            "COM_FEDRAMP_SYSTEM",
                            "COM_HARDWARE",
                            "COM_IAAS",
                            "COM_INTERCONNECTION",
                            "COM_PAAS",
                            "COM_PLAN",
                            "COM_POLICY",
                            "COM_PROCEDURE",
                            "COM_PROCESS",
                            "COM_SAAS",
                            "COM_SERVICE",
                            "COM_SOFTWARE",
                            "COM_SUBNET",
                            "COM_CRYPTOGRAPHIC_MODULE",
                            "COM_STACK_PARAMETER",
                            "PAR_ORGANIZATION",
                            "PAR_PERSON",
                            "ROL_NO_LOGICAL_ACCESS",
                            "ROL_NOT_PRIVILEGED",
                            "ROL_PRIVILEGED",
                            "LOC_CAMPUS",
                            "LOC_DATA_CENTER",
                            "LOC_DATA_REGION_CLOUD",
                            "LOC_OTHER",
                            "LOC_REMOTE",
                            "DAT_ACCOUNT_DATA",
                            "DAT_CUSTOMER_DATA",
                            "DAT_METADATA",
                            "DAT_SUPPORT_ADMIN"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "subtype"
                      ],
                      "description": "The name and subtype of the element within Paramify that created the issue",
                      "example": {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    },
                    "description": "The origins of the issue",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ]
                  },
                  "requirements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The requirements associated with the issue",
                    "example": [
                      "AC-1 Part a2",
                      "AC-2 Part b"
                    ]
                  },
                  "assets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "The assets associated with the issue",
                    "example": [
                      "10.0.0.2",
                      "asset2"
                    ]
                  },
                  "dueDate": {
                    "type": "string",
                    "description": "The date the issue is due",
                    "example": "2022-01-01T00:00:00.000Z"
                  },
                  "description": {
                    "type": "string",
                    "description": "Text describing the issue",
                    "example": "This is a detailed description of the issue."
                  },
                  "remarks": {
                    "type": "string",
                    "description": "Additional remarks or notes about the issue",
                    "example": "This issue requires immediate attention due to security implications."
                  },
                  "remediationDescription": {
                    "type": "string",
                    "description": "Description of the remediation for the issue",
                    "example": "This is a detailed description of the remediation."
                  },
                  "type": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/IssueObservationTypes"
                      },
                      {
                        "description": "The type of observation for the issue",
                        "example": "CONTROL"
                      }
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "description": "The date the issue was created",
                    "example": "2022-01-01T00:00:00Z"
                  },
                  "deviations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid"
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1
                        },
                        "method": {
                          "type": "string",
                          "enum": [
                            "TEST",
                            "EXAMINE",
                            "INTERVIEW",
                            "UNKNOWN"
                          ]
                        },
                        "type": {
                          "$ref": "#/components/schemas/DeviationObservationTypes"
                        },
                        "createdAt": {
                          "type": "string",
                          "description": "The date the deviation was created",
                          "example": "2022-01-01T00:00:00.000Z"
                        },
                        "deviationMetadata": {
                          "$ref": "#/components/schemas/DeviationMetadataObject"
                        }
                      }
                    },
                    "description": "The deviations associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "description": "Deviation description",
                        "method": "TEST",
                        "type": "VENDOR_DEPENDENCY",
                        "createdAt": "2022-01-01T00:00:00Z",
                        "deviationMetadata": {
                          "status": "PENDING",
                          "adjustedLevel": "MODERATE"
                        }
                      }
                    ]
                  },
                  "recommendations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "A uuid that uniquely identifies the recommendation",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        },
                        "description": {
                          "type": "string",
                          "description": "The description of the recommendation",
                          "example": "This is a detailed description of the recommendation."
                        },
                        "origins": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 255
                              },
                              "subtype": {
                                "type": "string",
                                "enum": [
                                  "COM_AGREEMENT",
                                  "COM_CUSTOMER_MANAGED",
                                  "COM_FEDRAMP_SYSTEM",
                                  "COM_HARDWARE",
                                  "COM_IAAS",
                                  "COM_INTERCONNECTION",
                                  "COM_PAAS",
                                  "COM_PLAN",
                                  "COM_POLICY",
                                  "COM_PROCEDURE",
                                  "COM_PROCESS",
                                  "COM_SAAS",
                                  "COM_SERVICE",
                                  "COM_SOFTWARE",
                                  "COM_SUBNET",
                                  "COM_CRYPTOGRAPHIC_MODULE",
                                  "COM_STACK_PARAMETER",
                                  "PAR_ORGANIZATION",
                                  "PAR_PERSON",
                                  "ROL_NO_LOGICAL_ACCESS",
                                  "ROL_NOT_PRIVILEGED",
                                  "ROL_PRIVILEGED",
                                  "LOC_CAMPUS",
                                  "LOC_DATA_CENTER",
                                  "LOC_DATA_REGION_CLOUD",
                                  "LOC_OTHER",
                                  "LOC_REMOTE",
                                  "DAT_ACCOUNT_DATA",
                                  "DAT_CUSTOMER_DATA",
                                  "DAT_METADATA",
                                  "DAT_SUPPORT_ADMIN"
                                ]
                              }
                            },
                            "required": [
                              "name",
                              "subtype"
                            ],
                            "description": "The name and subtype of the element within Paramify that created the issue",
                            "example": {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          },
                          "description": "The origins of the recommendation",
                          "example": [
                            {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          ]
                        }
                      }
                    },
                    "description": "The recommendations associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "description": "Recommendation description",
                        "origins": [
                          {
                            "name": "Qualys",
                            "subtype": "COM_SAAS"
                          }
                        ]
                      }
                    ]
                  },
                  "milestones": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "format": "uuid",
                          "description": "A uuid that uniquely identifies the milestone",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        },
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The title of the milestone",
                          "example": "Task Title Example"
                        },
                        "description": {
                          "type": "string",
                          "minLength": 1,
                          "description": "The description of the milestone",
                          "example": "This is a detailed description of the milestone."
                        },
                        "dueEnd": {
                          "type": "string",
                          "description": "The date the milestone is due to be completed",
                          "example": "2025-01-01T00:00:00.000Z"
                        },
                        "dueStart": {
                          "type": "string",
                          "description": "The date progress on the milestone should start",
                          "example": "2024-12-01T00:00:00.000Z"
                        }
                      }
                    },
                    "description": "The milestones associated with the issue",
                    "example": [
                      {
                        "id": "123e4567-e89b-12d3-a456-426614174000",
                        "title": "Milestone title",
                        "description": "Milestone description",
                        "dueStart": "2022-01-01T00:00:00.000Z",
                        "dueEnd": "2022-01-01T00:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A uuid that uniquely identifies an individual issue within Paramify",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "title": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 255,
                      "description": "The title of the issue",
                      "example": "Issue Title Example"
                    },
                    "poamId": {
                      "type": "string",
                      "maxLength": 255,
                      "description": "A user defined identifier for this issue",
                      "example": "FED-1"
                    },
                    "level": {
                      "type": "string",
                      "enum": [
                        "CHILL",
                        "LOW",
                        "MODERATE",
                        "HIGH",
                        "CRITICAL"
                      ],
                      "description": "The current risk level of the issue",
                      "example": "MODERATE"
                    },
                    "originalLevel": {
                      "type": "string",
                      "enum": [
                        "CHILL",
                        "LOW",
                        "MODERATE",
                        "HIGH",
                        "CRITICAL"
                      ],
                      "description": "The original risk level of the issue",
                      "example": "HIGH"
                    },
                    "pointOfContact": {
                      "type": [
                        "object",
                        "null"
                      ],
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "email": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "format": "email"
                        }
                      },
                      "required": [
                        "name"
                      ],
                      "description": "The point of contact for the issue",
                      "example": {
                        "name": "John Doe",
                        "email": "john@example.com"
                      }
                    },
                    "pluginId": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The plugin id associated with the issue",
                      "example": "plugin-123"
                    },
                    "cveIds": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "The CVE IDs associated with the issue",
                      "example": [
                        "CVE-2022-1234"
                      ]
                    },
                    "links": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "url"
                        ]
                      },
                      "description": "Links associated with the issue",
                      "example": [
                        {
                          "title": "link1",
                          "url": "https://example.com/link1"
                        },
                        {
                          "title": "link2",
                          "url": "https://example.com/link2"
                        }
                      ]
                    },
                    "status": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "enum": [
                        "OPEN",
                        "CLOSED"
                      ],
                      "description": "The current status of the issue",
                      "example": "OPEN"
                    },
                    "statusDate": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The date the current status was set",
                      "example": "2022-01-01T00:00:00.000Z"
                    },
                    "origins": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "$ref": "#/components/schemas/OriginObject"
                      },
                      "description": "The origins of the issue",
                      "example": [
                        {
                          "name": "Qualys",
                          "subtype": "COM_SAAS"
                        }
                      ]
                    },
                    "requirements": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "The requirements associated with the issue",
                      "example": [
                        "AC-1 Part a2",
                        "AC-2 Part b"
                      ]
                    },
                    "assets": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "description": "The assets associated with the issue",
                      "example": [
                        "10.0.0.2",
                        "asset2"
                      ]
                    },
                    "dueDate": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The date the issue is due",
                      "example": "2022-01-01T00:00:00.000Z"
                    },
                    "description": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Text describing the issue",
                      "example": "This is a detailed description of the issue."
                    },
                    "remarks": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Additional remarks or notes about the issue",
                      "example": "This issue requires immediate attention due to security implications."
                    },
                    "remediationDescription": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "Description of the remediation for the issue",
                      "example": "This is a detailed description of the remediation."
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "CONTROL",
                        "VULNERABILITY",
                        "DOCUMENTATION",
                        "CONFIGURATION",
                        "NOT_SET"
                      ],
                      "description": "The type of observation for the issue",
                      "example": "CONTROL"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "The date the issue was created",
                      "example": "2022-01-01T00:00:00Z"
                    },
                    "deviations": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "$ref": "#/components/schemas/DeviationResponseObject"
                      },
                      "description": "The deviations associated with the issue",
                      "example": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "description": "Deviation description",
                          "method": "TEST",
                          "type": "VENDOR_DEPENDENCY",
                          "createdAt": "2022-01-01T00:00:00Z",
                          "deviationMetadata": {
                            "status": "PENDING",
                            "adjustedLevel": "MODERATE"
                          }
                        }
                      ]
                    },
                    "recommendations": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "$ref": "#/components/schemas/RecommendationResponseObject"
                      },
                      "description": "The recommendations associated with the issue",
                      "example": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "description": "Recommendation description",
                          "origins": [
                            {
                              "name": "Qualys",
                              "subtype": "COM_SAAS"
                            }
                          ],
                          "issueId": "123e4567-e89b-12d3-a456-426614174000"
                        }
                      ]
                    },
                    "milestones": {
                      "type": [
                        "array",
                        "null"
                      ],
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "description": "A uuid that uniquely identifies the milestone",
                            "example": "123e4567-e89b-12d3-a456-426614174000"
                          },
                          "title": {
                            "type": "string",
                            "description": "The title of the milestone",
                            "example": "Milestone Title Example"
                          },
                          "description": {
                            "type": "string",
                            "description": "The description of the milestone",
                            "example": "This is a detailed description of the milestone."
                          },
                          "dueStart": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The start date of the milestone",
                            "example": "2022-01-01T00:00:00.000Z"
                          },
                          "dueEnd": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The end date of the milestone",
                            "example": "2022-01-01T00:00:00.000Z"
                          }
                        },
                        "required": [
                          "id",
                          "title",
                          "description",
                          "dueStart",
                          "dueEnd"
                        ]
                      },
                      "description": "The milestones associated with the issue",
                      "example": [
                        {
                          "id": "123e4567-e89b-12d3-a456-426614174000",
                          "title": "Milestone title",
                          "description": "Milestone description",
                          "dueStart": "2022-01-01T00:00:00.000Z",
                          "dueEnd": "2022-01-01T00:00:00.000Z"
                        }
                      ]
                    }
                  },
                  "required": [
                    "id",
                    "title",
                    "poamId",
                    "level",
                    "originalLevel",
                    "type",
                    "createdAt"
                  ],
                  "description": "The issue as it exists after the operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "delete": {
        "tags": [
          "Issues"
        ],
        "operationId": "deleteIssueById",
        "summary": "Deletes the issue specified by the issueId",
        "description": "Deletes the issue specified by the `issueId` query parameter. Warning: This action is irreversible.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/recommendations": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "getRecommendations",
        "summary": "Get all recommendations for the specified issue",
        "description": "Gets all recommendations within the issue specified by the `issueId`, and optionally filtered by `id`. The `id` value of the recommendation(s) returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "id",
            "description": "Filter recommendations by ID. Multiple IDs can be provided to retrieve multiple recommendations at once.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/recommendationId"
              },
              "description": "Filter recommendations by ID. Multiple IDs can be provided to retrieve multiple recommendations at once.",
              "example": [
                "251b4a27-cf85-416d-8364-9c59c1ad0ed5",
                "251b4a27-cf85-416d-8364-9c59c1ad0ed6"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getRecommendations": {
                "$ref": "#/components/links/getRecommendations"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RecommendationResponseObject"
                      }
                    }
                  },
                  "required": [
                    "recommendations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "postRecommendation",
        "summary": "Create a new recommendation on the specified issue",
        "description": "Creates a new recommendation within the issue specified by the  `issueId`. The `id` value of the recommendation returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description of the recommendation",
                    "example": "This is a detailed description of the recommendation."
                  },
                  "origins": {
                    "type": [
                      "array",
                      "null"
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "subtype": {
                          "type": "string",
                          "enum": [
                            "COM_AGREEMENT",
                            "COM_CUSTOMER_MANAGED",
                            "COM_FEDRAMP_SYSTEM",
                            "COM_HARDWARE",
                            "COM_IAAS",
                            "COM_INTERCONNECTION",
                            "COM_PAAS",
                            "COM_PLAN",
                            "COM_POLICY",
                            "COM_PROCEDURE",
                            "COM_PROCESS",
                            "COM_SAAS",
                            "COM_SERVICE",
                            "COM_SOFTWARE",
                            "COM_SUBNET",
                            "COM_CRYPTOGRAPHIC_MODULE",
                            "COM_STACK_PARAMETER",
                            "PAR_ORGANIZATION",
                            "PAR_PERSON",
                            "ROL_NO_LOGICAL_ACCESS",
                            "ROL_NOT_PRIVILEGED",
                            "ROL_PRIVILEGED",
                            "LOC_CAMPUS",
                            "LOC_DATA_CENTER",
                            "LOC_DATA_REGION_CLOUD",
                            "LOC_OTHER",
                            "LOC_REMOTE",
                            "DAT_ACCOUNT_DATA",
                            "DAT_CUSTOMER_DATA",
                            "DAT_METADATA",
                            "DAT_SUPPORT_ADMIN"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "subtype"
                      ],
                      "description": "The name and subtype of the element within Paramify that created the issue",
                      "example": {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    },
                    "description": "The origins of the recommendation",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ]
                  }
                },
                "required": [
                  "description"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "postRecommendation": {
                "$ref": "#/components/links/postRecommendation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/recommendations/{recommendationId}": {
      "get": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "getRecommendationById",
        "summary": "Get the recommendation specified by the recommendationId",
        "description": "Gets the recommendation specified by the `recommendationId` within the issue specified by the `issueId`. The `id` value of the recommendation returned can be used as the `recommendationId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecommendationResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "patchRecommendationById",
        "summary": "Updates the recommendation specified by the recommendationId",
        "description": "Updates the recommendation specified by the `recommendationId`. Upon successful operation, all fields that are not arrays will be overwritten. Fields that accept array values will add the provided values to the existing values.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "A uuid that uniquely identifies the recommendation",
                    "example": "123e4567-e89b-12d3-a456-426614174000"
                  },
                  "description": {
                    "type": "string",
                    "description": "The description of the recommendation",
                    "example": "This is a detailed description of the recommendation."
                  },
                  "origins": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "subtype": {
                          "type": "string",
                          "enum": [
                            "COM_AGREEMENT",
                            "COM_CUSTOMER_MANAGED",
                            "COM_FEDRAMP_SYSTEM",
                            "COM_HARDWARE",
                            "COM_IAAS",
                            "COM_INTERCONNECTION",
                            "COM_PAAS",
                            "COM_PLAN",
                            "COM_POLICY",
                            "COM_PROCEDURE",
                            "COM_PROCESS",
                            "COM_SAAS",
                            "COM_SERVICE",
                            "COM_SOFTWARE",
                            "COM_SUBNET",
                            "COM_CRYPTOGRAPHIC_MODULE",
                            "COM_STACK_PARAMETER",
                            "PAR_ORGANIZATION",
                            "PAR_PERSON",
                            "ROL_NO_LOGICAL_ACCESS",
                            "ROL_NOT_PRIVILEGED",
                            "ROL_PRIVILEGED",
                            "LOC_CAMPUS",
                            "LOC_DATA_CENTER",
                            "LOC_DATA_REGION_CLOUD",
                            "LOC_OTHER",
                            "LOC_REMOTE",
                            "DAT_ACCOUNT_DATA",
                            "DAT_CUSTOMER_DATA",
                            "DAT_METADATA",
                            "DAT_SUPPORT_ADMIN"
                          ]
                        }
                      },
                      "required": [
                        "name",
                        "subtype"
                      ],
                      "description": "The name and subtype of the element within Paramify that created the issue",
                      "example": {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    },
                    "description": "The origins of the recommendation",
                    "example": [
                      {
                        "name": "Qualys",
                        "subtype": "COM_SAAS"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A uuid that uniquely identifies the recommendation",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "description": {
                      "type": "string",
                      "description": "The description of the recommendation",
                      "example": "This is a detailed description of the recommendation."
                    },
                    "origins": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "name": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 255
                          },
                          "subtype": {
                            "type": "string",
                            "enum": [
                              "COM_AGREEMENT",
                              "COM_CUSTOMER_MANAGED",
                              "COM_FEDRAMP_SYSTEM",
                              "COM_HARDWARE",
                              "COM_IAAS",
                              "COM_INTERCONNECTION",
                              "COM_PAAS",
                              "COM_PLAN",
                              "COM_POLICY",
                              "COM_PROCEDURE",
                              "COM_PROCESS",
                              "COM_SAAS",
                              "COM_SERVICE",
                              "COM_SOFTWARE",
                              "COM_SUBNET",
                              "COM_CRYPTOGRAPHIC_MODULE",
                              "COM_STACK_PARAMETER",
                              "PAR_ORGANIZATION",
                              "PAR_PERSON",
                              "ROL_NO_LOGICAL_ACCESS",
                              "ROL_NOT_PRIVILEGED",
                              "ROL_PRIVILEGED",
                              "LOC_CAMPUS",
                              "LOC_DATA_CENTER",
                              "LOC_DATA_REGION_CLOUD",
                              "LOC_OTHER",
                              "LOC_REMOTE",
                              "DAT_ACCOUNT_DATA",
                              "DAT_CUSTOMER_DATA",
                              "DAT_METADATA",
                              "DAT_SUPPORT_ADMIN"
                            ]
                          }
                        },
                        "required": [
                          "name",
                          "subtype"
                        ],
                        "description": "The name and subtype of the element within Paramify that created the issue",
                        "example": {
                          "name": "Qualys",
                          "subtype": "COM_SAAS"
                        }
                      },
                      "description": "The origins of the recommendation",
                      "example": [
                        {
                          "name": "Qualys",
                          "subtype": "COM_SAAS"
                        }
                      ]
                    },
                    "issueId": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A uuid that uniquely identifies the issue associated with the recommendation",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    }
                  },
                  "required": [
                    "id",
                    "origins",
                    "issueId"
                  ],
                  "description": "The recommendation as it exists after the operation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "delete": {
        "tags": [
          "Recommendations"
        ],
        "operationId": "deleteRecommendationById",
        "summary": "Deletes the recommendation specified by the recommendationId",
        "description": "Deletes the recommendation specified by the `recommendationId` within the issue specified by the `issueId`. Warning: This action is irreversible.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "recommendationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/deviations": {
      "get": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "operationId": "getDeviations",
        "summary": "Get all deviations for the specified issue",
        "description": "This endpoint returns all deviations for the specified issue. You may filter the results by `id` to retrieve several specific deviations at once.",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "id",
            "description": "Filter deviations by ID. Multiple IDs can be provided to retrieve multiple deviations at once.",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/deviationId"
              },
              "description": "Filter deviations by ID. Multiple IDs can be provided to retrieve multiple deviations at once.",
              "example": [
                "251b4a27-cf85-416d-8364-9c59c1ad0ed5",
                "251b4a27-cf85-416d-8364-9c59c1ad0ed6"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "getDeviations": {
                "$ref": "#/components/links/getDeviations"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deviations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeviationResponseObject"
                      }
                    }
                  },
                  "required": [
                    "deviations"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "post": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "summary": "Create a new deviation on the specified issue",
        "operationId": "postDeviation",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "The description of the deviation"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "TEST",
                      "EXAMINE",
                      "INTERVIEW",
                      "UNKNOWN"
                    ]
                  },
                  "type": {
                    "$ref": "#/components/schemas/DeviationObservationTypes"
                  },
                  "createdAt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "default": "2025-12-24T00:22:36.574Z",
                    "description": "The date the deviation was created",
                    "example": "2022-01-01T00:00:00.000Z"
                  },
                  "deviationMetadata": {
                    "type": "object",
                    "properties": {
                      "status": {
                        "type": "string",
                        "enum": [
                          "PENDING",
                          "ACCEPTED",
                          "REJECTED"
                        ]
                      },
                      "adjustedLevel": {
                        "type": "string",
                        "enum": [
                          "CHILL",
                          "LOW",
                          "MODERATE",
                          "HIGH",
                          "CRITICAL"
                        ]
                      }
                    },
                    "required": [
                      "status"
                    ],
                    "description": "Deviation schema"
                  }
                },
                "required": [
                  "description",
                  "method",
                  "type",
                  "deviationMetadata"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200 Ok",
            "links": {
              "postDeviation": {
                "$ref": "#/components/links/postDeviation"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      }
    },
    "/issues/{issueId}/deviations/{deviationId}": {
      "get": {
        "tags": [
          "Deviations (\"Excuses\" in the Paramify application)"
        ],
        "summary": "Get the deviation by ID",
        "operationId": "getDeviationById",
        "parameters": [
          {
            "in": "path",
            "name": "issueId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          },
          {
            "in": "path",
            "name": "deviationId",
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviationResponseObject"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "501": {
            "$ref": "#/components/responses/NotImplemented"
          }
        }
      },
      "patch": {
[...]
